html{
    background-color: #EEEEEE;
    font-family: Helvetica;
}
body{
    width: 90%;
    margin: auto;
}
#logo{
    float: left;
}
#menu{
    float: right;
}
#logo,#menu{
    background-color: lightblue;
    height: 100px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#baner{
    background-color: #DDDDDD;
    height: 200px;
}
main{
    color: navy;
    margin: 50px;
    height: 400px;
}
footer{
    text-align: right;
    background-color: lightblue;
    padding: 10px;
}
button{
    background-color: lightblue;
    color: navy;
}
#linkwmenu{
    color: navy;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}
#linkwmenu:hover{
    border: 1px navy solid;
}
#linkwst00pce{
    text-decoration: none;
}